<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=;AttachDbFilename=|DataDirectory|\aspnet-meegees_api-20180623052709.mdf;Initial Catalog=aspnet-meegees_api-20180623052709;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-0ET0DRK\SQLEXPRESS;Initial Catalog=MeegeesDB;Persist Security Info=True;User ID=sa;Password=hrhk;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>